aggregate_over_traces
aggregate_over_wiggles
build_index
build_marginal_mappings_trace_from_mpd_read_db
build_min_trace
call_peaks
convert_trace_into_wiggle
mapped_reads_into_sam
mapped_reads_into_sam_from_trace
sample_mapping
verify_mapped_read_locations
